:root {
	/* https://github.com/catppuccin/catppuccin */

	/* Background Colors */
	--bg-hard: #181926;
	--bg: #24273a;
	--bg-soft: #1e2030;

	/* Foreground Colors */
	--fg: #cad3f5;
	--fg-light: #b8c0e0;
	--fg-dark: #a5adcb;

	/* Accent Colors */
	--red: #ed8796;
	--orange: #f5a97f;
	--yellow: #eed49f;
	--green: #a6da95;
	--aqua: #8bd5ca;
	--blue: #8aadf4;
	--purple: #c6a0f6;

	/* UI Colors */
	--bg-visual: #363a4f;
	--bg-red: #363a4f;
	--bg-green: #363a4f;
	--bg-blue: #363a4f;
	--bg-yellow: #363a4f;

	/* Additional Shades */
	--grey0: #5b6078;
	--grey1: #6e738d;
	--grey2: #8087a2;
}
