 :root {
 	/* https://github.com/sainnhe/everforest */

 	/* Background Colors */
 	--bg-hard: #2b3339;
 	--bg: #2f383e;
 	--bg-soft: #323d43;

 	/* Foreground Colors */
 	--fg: #d3c6aa;
 	--fg-light: #d3c6aa;
 	--fg-dark: #7a8478;

 	/* Accent Colors */
 	--red: #e67e80;
 	--orange: #e69875;
 	--yellow: #dbbc7f;
 	--green: #a7c080;
 	--aqua: #83c092;
 	--blue: #7fbbb3;
 	--purple: #d699b6;

 	/* UI Colors */
 	--bg-visual: #503946;
 	--bg-red: #4e3e43;
 	--bg-green: #404d44;
 	--bg-blue: #394f5a;
 	--bg-yellow: #4a4940;

 	/* Additional Shades */
 	--grey0: #7a8478;
 	--grey1: #859289;
 	--grey2: #9da9a0;
 }
